In [ ]:
e = {"name":"kanishka","age":19}
print(e);

{'name': 'kanishka', 'age': 19}

In [ ]:
dict=dict({1:"kanishka"})
print(dict)

{1: 'kanishka'}

In [ ]:
dict = {}
print(dict)

{}

In [ ]:
e = {"name":"kanishka","age":19}
print("name:%s" %e["name"])
print("age: %d" %e["age"])

name:kanishka
age: 19

In [ ]:
e = {"name":"kanishka","age":19}
e[3]="subha"
e[4]=19
print(e)

{'name': 'kanishka', 'age': 19, 3: 'subha', 4: 19}

In [ ]:
e = {"name":"kanishka","age":19}
e[3]="sangeetha"
print(e)
e[3]="subha"
print(e)

{'name': 'kanishka', 'age': 19, 3: 'sangeetha'}
{'name': 'kanishka', 'age': 19, 3: 'subha'}

In [ ]:
e['Emp_ages'] = 20, 33, 24
print(e)

{'name': 'kanishka', 'age': 19, 3: 'subha', 'Emp_ages': (20, 33, 24)}

In [ ]:
e = {"name":"kanishka","age":19}
e[3]="sangeetha"
print(e)
e[3]="subha"
print(e)

for i in e:
    print(i)

{'name': 'kanishka', 'age': 19, 3: 'sangeetha'}
{'name': 'kanishka', 'age': 19, 3: 'subha'}
name
age
3

In [ ]:
dict = {'name': 'kanishka', 'age': 19, 3: 'sangeetha'}
for i in dict.values():
  print(i)

kanishka
19
sangeetha

In [ ]:
dict = {'name': 'kanishka', 'age': 19, 3: 'sangeetha'}
for x in dict.items():
    print(x)

('name', 'kanishka')
('age', 19)
(3, 'sangeetha')

In [ ]:
dict = {'name': 'kanishka', 'age': 19, 3: 'sangeetha'}
del dict['name']
print(dict)
del dict
print(dict)

{'age': 19, 3: 'sangeetha'}
<class 'dict'>

In [ ]:
employee={"name":"kanishka","age":18}
print(employee)
employee["name"]="subha"
print(employee)

{'name': 'kanishka', 'age': 18}
{'name': 'subha', 'age': 18}

In [ ]:
e={1:"apple",2:"ball",3:"cat"}
del e[1]
e.pop(2)
print(e)

{3: 'cat'}

In [ ]:
dict = dict({"name":"kanishka"})
print(dict)

{'name': 'kanishka'}

In [ ]:
from IPython.core.prefilter import PrefilterTransformer
print("library management system")
booknames=dict({1:"life",2:"life is short",3:"enemy"})
print(booknames)
backup=booknames
print(backup)
default_dictionary=dict({0:"science",1:"arts",2:"Engineering"})
print(default_dictionary)
book_id=dict({101:15,102:30,103:50,104:56,105:67})
print(book_id[101])
print(book_id[102])
print(book_id[103])
print(book_id[104])
print(book_id[105])
print(book_id)
print("print the list of available books:")
for i in book_id.values():
    print(i)
print("print the book Ids:")
for i in book_id:
    print(i)
print("discarded book:enemy")
remove=booknames.pop(3)
print(booknames)
recentlyused_book=({12:"life",34:"life is short",56:"the little prince",76:"the book"})
book_used="the book"
print(book_used)
recentlyused_book.pop(76)
print(recentlyused_book)
missing_book="history"
recentlyused_book[1]="history"
print(recentlyused_book)
dic2=dict({1:"maths",2:"science",3:"english"})
add=recentlyused_book|dic2
print(add)
dic=dict({1:"tamil",2:"hindi",3:"english"})
copieddictionary=dic.copy()
print("copieddictionary:",copieddictionary)
print("using fromkeys()")
dic=({"tamil","english","hindi"})
items="subject"
d=dict.fromkeys(dic,items)
print(d)
recentlyused_book=({12:"life",34:"life is short",56:"the little prince",76:"the book"})
print(recentlyused_book.get(34))
print(recentlyused_book.items())
print(recentlyused_book.keys())
print(recentlyused_book.pop(76))
print(recentlyused_book.popitem())
print(recentlyused_book.values())
print(recentlyused_book.update(book_id))
print(recentlyused_book)
print(recentlyused_book.setdefault("life":45))
print(recentlyused_book.clear())

library management system
{1: 'life', 2: 'life is short', 3: 'enemy'}
{1: 'life', 2: 'life is short', 3: 'enemy'}
{0: 'science', 1: 'arts', 2: 'Engineering'}
15
30
50
56
67
{101: 15, 102: 30, 103: 50, 104: 56, 105: 67}
print the list of available books:
15
30
50
56
67
print the book Ids:
101
102
103
104
105
discarded book:enemy
{1: 'life', 2: 'life is short'}
the book
{12: 'life', 34: 'life is short', 56: 'the little prince'}
{12: 'life', 34: 'life is short', 56: 'the little prince', 1: 'history'}
{12: 'life', 34: 'life is short', 56: 'the little prince', 1: 'maths', 2: 'science', 3: 'english'}
copieddictionary: {1: 'tamil', 2: 'hindi', 3: 'english'}
using fromkeys()
{'english': 'subject', 'hindi': 'subject', 'tamil': 'subject'}
life is short
dict_items([(12, 'life'), (34, 'life is short'), (56, 'the little prince'), (76, 'the book')])
dict_keys([12, 34, 56, 76])
the book
(56, 'the little prince')
dict_values(['life', 'life is short'])
None
{12: 'life', 34: 'life is short', 101: 15, 102: 30, 103: 50, 104: 56, 105: 67}
None
None