In [ ]:
def square(a):
  return a*a
p1=square(3)
print("area of the square:",p1)

area of the square: 9

In [8]:
def count_vowels(s):
    count = 0
    for ch in s.lower():
        if ch in "aeiou":
            count += 1
    return count
print(count_vowels("Hello World"))

3

In [9]:
students = {
    "Anu": [78, 85, 90],
    "Bala": [60, 72, 68],
    "Charan": [88, 91, 84],
    "Divya": [45, 50, 40]
}


def calculate_average(marks):
    return sum(marks) / len(marks)

check_result = lambda avg: "Pass" if avg >= 50 else "Fail"


student_result = {}

for name, marks in students.items():
    avg = calculate_average(marks)
    student_result[name] = {
        "Average": round(avg, 2),
        "Result": check_result(avg)
    }

print("Passed Students:")
for name, details in student_result.items():
    if details["Result"] == "Pass":
        print(name, details)


topper = max(student_result, key=lambda x: student_result[x]["Average"])
print("Topper:", topper)

Passed Students:
Anu {'Average': 84.33, 'Result': 'Pass'}
Bala {'Average': 66.67, 'Result': 'Pass'}
Charan {'Average': 87.67, 'Result': 'Pass'}
Topper: Charan

In [10]:
def count_digits(n):
    if n == 0:
        return 0
    return 1 + count_digits(n // 10)
n = 48392
print("Digits:", count_digits(n))

Digits: 5

In [13]:
def sum_digits(n):
    if n == 0:
        return 0
    return (n % 10) + sum_digits(n // 10)
n = 48392
print("Sum:", sum_digits(n))

Sum: 26

In [11]:
def max_digit(n):
    if n < 10:
        return n
    return max(n % 10, max_digit(n // 10))
n = 48392
print("Max digit:", max_digit(n))

Max digit: 9

In [12]:
def reverse_number(n, rev=0):
    if n == 0:
        return rev
    return reverse_number(n // 10, rev * 10 + n % 10)
n = 48392
print("Reverse:", reverse_number(n))

Reverse: 29384