In [ ]:
set = {"kanishka","sangeetha","subha"}
print(set)

{'kanishka', 'subha', 'sangeetha'}

In [ ]:
set = {"kanishka","sangeetha","subha"}
print(type(set))

<class 'set'>

In [ ]:
names = {"kanishka","sangeetha","subha"}
for x in names:
    print(x)

kanishka
subha
sangeetha

In [ ]:
set1 = set(["apple","mango","strawberry"])
print(set1)

{'strawberry', 'apple', 'mango'}

In [ ]:
set = {1,2,3,20,"mango"}
print(set)

{1, 2, 3, 20, 'mango'}

In [ ]:
set1={}
print(set1)

{}

In [ ]:
set={"kanishka","sangeetha","subha","shri","jan"}
set.remove("subha")
print(set)

{'jan', 'shri', 'kanishka', 'sangeetha'}

In [ ]:
set1=set()
print(type(set1))

<class 'set'>

In [ ]:
set={"apple","strawberry","mango","orange"}
print(set)
set.add("peach")
print(set)

{'orange', 'mango', 'strawberry', 'apple'}
{'orange', 'mango', 'apple', 'peach', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
print(set)
set.remove("apple")
print(set)

{'orange', 'mango', 'strawberry', 'apple'}
{'orange', 'mango', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
print(set)
set.update(["banana"])
print(set)

{'orange', 'mango', 'strawberry', 'apple'}
{'orange', 'mango', 'apple', 'banana', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set.clear()
print(set)

set()

In [ ]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
set3=set.union(set2)
print(set3)

{4, 5, 6, 7, 8, 9}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
set2=set.intersection(set1)
print(set2)

{'mango', 'apple'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
set2=set.difference(set1)
print(set2)

{'orange', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
print(set-set1)

{'orange', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
print(set^set1)

{'orange', 'banana', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
print(set.symmetric_difference(set1))

{'orange', 'banana', 'strawberry'}

In [ ]:
set={"apple","strawberry","mango","orange"}
set1={"apple","mango","banana"}
print(set|set1)

{'orange', 'mango', 'banana', 'strawberry', 'apple'}

In [ ]:
set={1,2,3,4,5,6}
set1={4,5,6,7,8,9}
print(set|set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set={1,2,3,4,5,6}
set1={4,5,6,7,8,9}
print(set&set1)

{4, 5, 6}

In [ ]:
set={"monday","tuesday","wednesday","thursday"}
set1={"monday","tuesday"}
set3={"wednesday","thursday","saturday"}
print(set3>set)
print(set>set1)

False
True

In [ ]:
set={1,2,3,4,5,6,6,7,8}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1={"monday","tuesday","wednesday","thursday"}
print(set1)
for i in set1:
    print(i)

{'thursday', 'tuesday', 'wednesday', 'monday'}
thursday
tuesday
wednesday
monday

In [ ]:
set={"january","febraury","march","april","may","june"}
set.update(["july","august","september"])
print(set)

{'march', 'june', 'may', 'febraury', 'july', 'august', 'january', 'september', 'april'}

In [46]:
print("registered_students")
fest_registered={12,34,267,213,241,68,90,260,242,26,43,104}
workshop_A={267,241,213}
workshop_B={260,242,26,43}
volunteers_name={12,34,104}
fest_registered.add(230)
print(fest_registered)
Backup=fest_registered|volunteers_name.copy()
print(Backup)
attended_specific=fest_registered-workshop_A
print("attended:",attended_specific)
attended_specific1=fest_registered-workshop_B
print("attended:",attended_specific1)
print("students who are absent")
remove=fest_registered.discard(43)
print(fest_registered)
print(" volunteers registered list:")
a=workshop_A|workshop_B
volunteers_n=fest_registered-a
print(volunteers_n)
print("students who attended:")
present={12,34,213,90,260}
attended=fest_registered-present
print(attended)
fest_registered.update([267])
print(fest_registered)
remove=volunteers_name.remove(104)
print("removedvolunteers_name:",volunteers_name)
student_name=frozenset([267,241,213,260,26])
print("set:",student_name)
print(attended)
set=workshop_A|workshop_B
print("total participants:",set)
fest_registered.clear()
print(fest_registered)
workshop_A.clear()
print(workshop_A)
workshop_B.clear()
print(workshop_B)
volunteers_name.clear()
print(volunteers_name)

registered_students
{34, 68, 260, 90, 230, 104, 267, 12, 43, 241, 242, 213, 26}
{34, 68, 260, 90, 230, 104, 267, 12, 43, 241, 242, 213, 26}
attended: {34, 26, 68, 260, 230, 104, 43, 12, 242, 90}
attended: {34, 68, 230, 104, 267, 12, 241, 213, 90}
students who are absent
{34, 68, 260, 90, 230, 104, 267, 12, 241, 242, 213, 26}
 volunteers registered list:
{34, 68, 230, 104, 12, 90}
students who attended:
{68, 230, 104, 267, 241, 242, 26}
{34, 68, 260, 90, 230, 104, 267, 12, 241, 242, 213, 26}
removedvolunteers_name: {34, 12}
set: frozenset({260, 267, 241, 213, 26})
{68, 230, 104, 267, 241, 242, 26}
total participants: {241, 242, 260, 213, 43, 26, 267}
set()
set()
set()
set()

In [65]:
set={"kanishka","subha","sangee","viveka","subi"}
set.add("shri")
print(set)
backup=set.copy()
print("backup:",backup)
set1={"divsss","pikachuu","sangee","subha","bharathi","jan"}
print(set1)
set6=set.difference(set1)
print(set6)
set.difference_update()
print(set)
set3=set.intersection(set1)
print(set3)
set.intersection_update(set1)
print(set)

set5=set.isdisjoint(set1)
print(set5)
set.discard("kanishka")
print(set)
print(set.issubset(set1))
print(set.issuperset(set1))
set.symmetric_difference_update(set1)
print(set)
result = set.union(set)
print(result)
set.update(set1)
print(set)
result = set.symmetric_difference(set1)
print(result)
set.symmetric_difference_update(set1)
print(set)
set.discard("subi")
print(set)
set.clear()
print(set)

{'subha', 'shri', 'subi', 'kanishka', 'sangee', 'viveka'}
backup: {'subha', 'shri', 'subi', 'kanishka', 'sangee', 'viveka'}
{'subha', 'pikachuu', 'sangee', 'jan', 'bharathi', 'divsss'}
{'shri', 'subi', 'kanishka', 'viveka'}
{'subha', 'shri', 'subi', 'kanishka', 'sangee', 'viveka'}
{'subha', 'sangee'}
{'subha', 'sangee'}
False
{'subha', 'sangee'}
True
False
{'pikachuu', 'jan', 'bharathi', 'divsss'}
{'jan', 'bharathi', 'pikachuu', 'divsss'}
{'subha', 'jan', 'bharathi', 'pikachuu', 'sangee', 'divsss'}
set()
set()
set()
set()